<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
	<caching enabled="false" enableKernelCache="false" />
		<httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
			<scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
			<dynamicTypes>
				<add mimeType="text/*" enabled="true" />
				<add mimeType="message/*" enabled="true" />
				<add mimeType="application/javascript" enabled="true" />
				<add mimeType="*/*" enabled="false" />
			</dynamicTypes>
			<staticTypes>
			  <add mimeType="text/*" enabled="true" />
			  <add mimeType="message/*" enabled="true" />
			  <add mimeType="application/javascript" enabled="true" />
			  <add mimeType="*/*" enabled="false" />
			</staticTypes>
		</httpCompression>
        <rewrite>
			<rules>
				<rule name="Redirect to HTTPS" stopProcessing="true">
					<match url="(.*)" />
					<conditions>
						<add input="{HTTPS}" pattern="^OFF$" />
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}/{R:1}" />
				</rule>
				<rule name="Paytr POST to GET redirect" stopProcessing="true">
					<match url="odeme/0/sonuc" />
					<action type="Redirect" url="https://{HTTP_HOST}/odeme/00/sonuc" />
				</rule>
				<rule name="Rewrite Text Requests" stopProcessing="true">
					<match url=".*" />
					<conditions>
						<add input="{HTTP_METHOD}" pattern="^GET$" />
						<add input="{HTTP_ACCEPT}" pattern="^text/html" />
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					</conditions>
					<action type="Rewrite" url="/index.html" />
				</rule>
			</rules>
            <outboundRules>
                <rule name="Response Server">
                    <match serverVariable="RESPONSE_SERVER" pattern=".*" />
                    <action type="Rewrite" />
                </rule>
            </outboundRules>
		</rewrite>
        <httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By" />
                <remove name="Content-Security-Policy" />
                <add name="Cache-Control" value="no-store" />
                <add name="X-Content-Type-Options" value="nosniff" />
                <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains; preload" />
                <add name="Referrer-Policy" value="no-referrer" />
                <add name="Permissions-Policy" value="fullscreen=()" />
            </customHeaders>
        </httpProtocol>
  </system.webServer>
  <system.web>
	<httpRuntime enableVersionHeader="false" />
	<httpCookies httpOnlyCookies="true" requireSSL="true" />
  </system.web>
</configuration>

